<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Error</title>
    <link th:href="@{/css/error.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/cityu-favicon.jpg}" sizes="16x16">
</head>
<body class="body">
<div class="nav-bar">
    <img class="logo" th:src="@{/images/cityu-logo.png}" alt="logo"/>
</div>
<img class="title" th:src="@{/images/error-egg.jpeg}" width="256" alt="error icon"/>
<h1 class="title">Something is wrong. Please refresh the page. If the situation continues, please contact the system
    administrator.</h1>
</body>
<footer class="footer">
    <div>
        <h3 class="left">© City University of Hong Kong. All Rights Reserved.</h3>
        <img class="logo right" th:src="@{/images/cityu-logo.png}" alt="logo"/>
    </div>
</footer>
</html>