<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Internal Rooms Booking Timetable v1.0</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/error.css}" rel="stylesheet"/>
    <link th:href="@{/css/mainpage.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/cityu-favicon.jpg}" sizes="16x16">
</head>
<body class="body">

<div class="nav-bar">
    <img class="logo" th:src="@{/images/cityu-logo.png}" alt="logo"/>
</div>

<div class="p-20">
    <div class="input-area">
        <img class="logo" th:src="@{/images/calendar.png}" alt="calendar icon"/>
        <select class="select-box" id="month" name="month" onchange="refresh(document.getElementById('month'))">
            <div th:each="i: ${#numbers.sequence(0, 6)}">
                <option th:selected="${currentMonth==months[i]}" th:value="${months[i]}"
                        th:text="'' + ${months[i]}"></option>
            </div>
        </select>
    </div>

    <div th:if="${ not#lists.isEmpty(products.table)}">
        <table class="timetable">
            <tr>
                <th class="header"><img class="logo" th:src="@{/images/calendar.png}" alt="calendar icon"/></th>
                <div th:each="i: ${#numbers.sequence(1, #lists.size(products.table[0].chart))}">
                    <th class="date" th:text="${i}"></th>
                </div>
            </tr>
            <tr th:each="row : ${products.table}">
                <td class="room-header" th:text="${row.room_id}"></td>
                <div th:each="occupied: ${row.chart}">
                    <td th:classappend="${occupied} ? red : green"></td>
                </div>
            </tr>
        </table>
    </div>
</div>

<footer class="footer">
    <div>
        <h3 class="left">© City University of Hong Kong. All Rights Reserved.</h3>
        <img class="logo right" th:src="@{/images/cityu-logo.png}" alt="logo"/>
    </div>
</footer>

<script>
    function refresh(month) {
        window.location.replace("http://localhost:8080/timetable/" + month.value.toString());
    }
</script>

</body>
</html>